<!-- Top -->
<section class="bg-[#62A403] text-white text-lg">
  <div class="mx-auto flex h-11 w-[calc(100%-80px)] items-center justify-between">

    <!-- Left Side -->
    <div class="flex items-center text-white text-lg">

  <div class="flex items-center gap-2">
    <i class="fa-solid fa-money-bill-wave"></i>
    <span>Cash on Delivery Available</span>
  </div>

  <span class="mx-6 text-white/60">|</span>

  <div class="flex items-center gap-2">
    <i class="fa-brands fa-whatsapp"></i>
    <span>+8801765890646</span>
  </div>

  <span class="mx-6 text-white/60">|</span>

  <div class="flex items-center gap-2">
    <i class="fa-solid fa-phone"></i>
    <span>09613-821489</span>
  </div>

</div>

    <!-- Right Side -->
    <div class="flex items-center divide-x divide-white/30">

      <a href="#" class="flex items-center gap-2 pr-5 transition hover:text-yellow-200">
        <i class="fa-solid fa-truck-fast text-base"></i>
        <span>Fast Delivery</span>
      </a>

      <a href="#" class="flex items-center gap-2 pl-5 transition hover:text-yellow-200">
        <i class="fa-solid fa-location-dot text-base"></i>
        <span>Track Order</span>
      </a>

    </div>

  </div>
</section>

<header class="w-full border-b border-gray-200 bg-white pb-4 px-[80px]">
  <div class="flex justify-between gap-15 h-20 items-center px-8">
    <!-- Logo -->
      <img
        src="8 [Converted] 1.png"
        alt="Logo"
        class="h-[80px] w-auto">

    <!-- Left -->
    <nav class="flex items-center ">
        <ul class="flex items-center gap-10">
          <li>
            <a href="#" class="text-base font-medium text-[#62A403] hover:text-[#4f8702] transition-colors">
              Home
            </a>
          </li>
      
          <li>
            <a href="#"
              class="flex items-center gap-2 text-base font-medium text-gray-700 hover:text-[#62A403] transition-colors">
              Categories
              <i class="fa-solid fa-chevron-down text-xs"></i>
            </a>
          </li>
        </ul>
    </nav>

    <!-- Offer Button -->
    <button
      class="flex h-[30px] w-[80px] items-center justify-center gap-1 rounded-lg bg-[#62A403] font-semibold text-[13px] text-white shadow-[0_8px_16px_0_rgba(145,158,171,0.16)] transition-all duration-300 hover:bg-[#4F8702]">
    
      <span class="flex h-4 w-4 items-center justify-center rounded-full border border-white">
        <i class="fa-solid fa-tags text-[8px]"></i>
      </span>
    
      <span class="text-[13px] font-semibold">Offers</span>
    
    </button>

    <!-- Search Bar -->
    <div class="flex w-[573.107px] h-[45px] overflow-hidden rounded-md border border-[#E5E7EB] bg-[#F4F6F8]">
    
      <!-- Category -->
      <button
        class="flex w-[56px] items-center justify-center border-r border-[#E5E7EB] bg-[#F4F6F8] text-[15px] font-medium text-[#637381]">
        All
      </button>
    
      <!-- Input -->
      <input type="text" placeholder="What are you shopping for?"
        class="flex-1 px-4 text-[15px] text-[#637381] placeholder:text-[#637381] outline-none" />
    
      <!-- Search Button -->
      <button
        class="m-[4px] flex h-[36px] w-[36px] items-center justify-center rounded-full bg-[#F3F4F6] hover:bg-[#E5E7EB] transition">
        <i class="fa-solid fa-magnifying-glass text-[16px] text-[#9CA3AF]"></i>
      </button>
    
    </div>


    <!-- Right -->
    <div class="flex items-center gap-5">

      <button
        class="flex h-11 w-11 items-center justify-center rounded-full bg-[#F7F8FA] hover:bg-gray-100">
        <i class="fa-regular fa-user text-lg"></i>
      </button>

      <button
        class="flex h-11 w-11 items-center justify-center rounded-full bg-[#F7F8FA] hover:bg-gray-100">
        <i class="fa-regular fa-heart text-lg"></i>
      </button>

      <button
        class="relative flex h-11 w-11 items-center justify-center rounded-lg border-2 border-[#62A403]">

        <i class="fa-solid fa-bag-shopping text-[#62A403]"></i>

        <span
          class="absolute -right-2 -top-2 flex h-5 w-5 items-center justify-center rounded-full bg-black text-[10px] text-white">
          2
        </span>

      </button>

    </div>

  </div>
</header>