
<section class="w-full px-20 relative overflow-hidden bg-white py-20">

  <!-- Left Decoration -->
  <img
    src="image 12.png"
    class="absolute left-0 bottom-0 w-20"
    alt=""
  />

  <div class="mx-auto max-w-[1440px] px-6">

    <!-- Heading -->

    <div class="flex items-center justify-center gap-2">
    
        <div class="flex gap-1">
            <span class="h-1 w-1 rounded-full bg-[#62A403]"></span>
            <span class="h-1 w-1 rounded-full bg-[#62A403]"></span>
            <span class="h-1 w-1 rounded-full bg-[#62A403]"></span>
        </div>
    
        <span class="text-[11px] font-semibold uppercase tracking-[2px] text-[#62A403]">
            FRESH FROM OUR FARM
        </span>
    
        <div class="flex gap-1">
            <span class="h-1 w-1 rounded-full bg-[#62A403]"></span>
            <span class="h-1 w-1 rounded-full bg-[#62A403]"></span>
            <span class="h-1 w-1 rounded-full bg-[#62A403]"></span>
        </div>
    
    </div>
    
    <h2 class="mb-16 text-center text-5xl font-bold text-[#1E293B]">
      Featured Categories
    </h2>

    <!-- Categories -->
    <div class="relative flex items-center">

      <!-- Items -->
    <div class="mx-auto flex gap-14 ">
    
        @for(category of categories; track category.name){
    
        <div class="w-[170px] text-center">
    
            <img [src]="category.image" [alt]="category.name" class="mx-auto object-contain">
    
            <h3 class="mt-5 text-lg font-semibold text-[#2B3445]">
                {{category.name}}
            </h3>
    
            <p class="mt-1 text-sm text-[#8A94A6]">
                {{category.items}} Items
            </p>
    
        </div>
    }
    </div>
    </div>
</div>

</section>