<footer class="relative overflow-hidden bg-[#F7F6F2] border-t border-gray-200 h-[400px]">

  <!-- Main Container -->
  <div class="relative z-10 mx-auto max-w-[1440px] px-8 py-14">
    
    <!-- Background Watermark -->
    <img
        src="8 [Converted] 2.png"
        alt="Watermark"
        class="absolute mt-[40px] left-1/2 -translate-x-1/2 w-[980px] h-[300px] pointer-events-none select-none" />

    <div class="flex gap-10">

      <!--  LEFT  -->
      <div class="">

        <!-- Logo -->
        <img
          src="8 [Converted] 1.png"
          alt="Leaf Gradient"
          class="h-16 w-auto">

        <!-- Description -->
        <p class="mt-8 max-w-md text-[16px] leading-10 text-[#687188]">
          Ut enim ad minim veniam, quis nostrud exerci-tation <br> ullamco laboris nisi ut aliquip ex ea commodo. Build your <br> online store with WooCommerce the most popular 
        </p>

        <!-- Social Icons -->
        <div class="mt-10 flex items-center gap-5">

          <a href="#"
             class="flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-sm transition hover:bg-[#62A403] hover:text-white">
            <i class="fa-brands fa-twitter"></i>
          </a>

          <a href="#"
             class="flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-sm transition hover:bg-[#62A403] hover:text-white">
            <i class="fa-brands fa-facebook-f"></i>
          </a>

          <a href="#"
             class="flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-sm transition hover:bg-[#62A403] hover:text-white">
            <i class="fa-brands fa-youtube"></i>
          </a>

          <a href="#"
             class="flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-sm transition hover:bg-[#62A403] hover:text-white">
            <i class="fa-brands fa-google-plus-g"></i>
          </a>

        </div>

      </div>

      <!--  INFORMATION  -->
      <div class="flex gap-25">
        <div>
            <h3 class="mb-8 text-[20px] font-bold text-[#1F2937]">
            Information
            </h3>
        <ul class="space-y-5">

          <li>
            <a href="#" class="text-[16px] text-[#687188] hover:text-[#62A403]">
              About Us
            </a>
          </li>

          <li>
            <a href="#" class="text-[16px] text-[#687188] hover:text-[#62A403]">
              Delivery Information
            </a>
          </li>

          <li>
            <a href="#" class="text-[16px] text-[#687188] hover:text-[#62A403]">
              Privacy Policy
            </a>
          </li>

          <li>
            <a href="#" class="text-[16px] text-[#687188] hover:text-[#62A403]">
              Terms & Conditions
            </a>
          </li>

          <li>
            <a href="#" class="text-[16px] text-[#687188] hover:text-[#62A403]">
              Return Policy
            </a>
          </li>

        </ul>

        </div>

      <!--  ACCOUNT  -->
      <div>

        <h3 class="mb-8 text-[20px] font-bold text-[#1F2937]">
          My Account
        </h3>

        <ul class="space-y-5">

          <li>
            <a href="#" class="text-[16px] text-[#687188] hover:text-[#62A403]">
              My Account
            </a>
          </li>

          <li>
            <a href="#" class="text-[16px] text-[#687188] hover:text-[#62A403]">
              Shopping Cart
            </a>
          </li>

          <li>
            <a href="#" class="text-[16px] text-[#687188] hover:text-[#62A403]">
              Wishlist
            </a>
          </li>

          <li>
            <a href="#" class="text-[16px] text-[#687188] hover:text-[#62A403]">
              Order History
            </a>
          </li>

          <li>
            <a href="#" class="text-[16px] text-[#687188] hover:text-[#62A403]">
              International Orders
            </a>
          </li>

        </ul>

      </div>

      <!--  CONTACT  -->
      <div>

        <h3 class="mb-8 text-[20px] font-bold text-[#1F2937]">
          Contact Us
        </h3>

        <div class="space-y-6">

          <p class="text-[16px] leading-4 text-[#687188]">
            <strong class="text-[#1F2937]">Address:</strong>
            1429 Netus Rd, NY 48247
          </p>

          <p class="text-[16px] text-[#687188]">
            <strong class="text-[#1F2937]">Email:</strong>
            Organi@gmail.com
          </p>

          <p class="text-[16px] text-[#687188]">
            <strong class="text-[#1F2937]">Phone:</strong>
            (+87) 4886-4174
          </p>

        </div>
        <div class="mt-7">
        
            <h4 class="mb-5 text-[15px] font-bold text-[#1F2937]">
                Payment Accepted
            </h4>
        
            <img src="Payment.png" alt="Payment" class="h-auto w-[240px]">
        
        </div>

      </div>
      </div>

    </div>

  </div>

</footer>