<div
  class=" mx-auto bg-white border border-[2px] border-[#d7e0e9] rounded-3xl">

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">

    <div
      *ngFor="let feature of features; let last = last"
      class="relative flex items-center gap-4 p-5 lg:px-8 lg:py-7">


      <!-- Icon -->
      <img
        [src]="feature.icon"
        [alt]="feature.title"
        class="w-10 h-10 shrink-0 object-contain" />

      <!-- Text -->
      <div>
        <h3 class="text-[15px] font-semibold text-[#222]">
          {{ feature.title }}
        </h3>

        <p class="mt-1 text-[13px] text-[#6B7280]">
          {{ feature.subtitle }}
        </p>
      </div>

    </div>

  </div>

</div>