<div class="trending">
  <h4 class="trending__title">Trending Items</h4>

  <div
    class="trending__item"
    *ngFor="let item of items"
  >
    <div class="trending__thumb">
      <img
        [src]="item.image"
        [alt]="item.name"
      />
    </div>

    <div class="trending__info">
      <p class="trending__name">
        {{ item.name }}
      </p>

      <div class="trending__price">
        <span
          class="trending__price-old"
          *ngIf="item.oldPrice"
        >
          ${{ item.oldPrice }}
        </span>

        <span class="trending__price-current">
          ${{ item.price }}
        </span>
      </div>

      <div class="trending__stars">
        <span
          *ngFor="let filled of stars(item.rating)"
          [class.filled]="filled"
        >
          ★
        </span>
      </div>
    </div>
  </div>
</div>