<section class="w-full bg-white py-10">
  <div class="flex justify-end">

    <div class="relative w-[85%] h-[550px] overflow-hidden rounded-l-[300px] bg-white">
    
        <!-- Background -->
        <img src="sale.jpg" alt="" class="absolute inset-0 h-full w-full object-cover" />
    
        <!-- Content -->
        <div class="relative flex h-full items-center px-16">
    
            <!-- Left Image -->
            <div class="flex w-1/2 justify-center">
                <img src="full basket.png" alt="" class="w-[420px] object-contain" />
            </div>
    
            <!-- Right Content -->
            <div class="w-1/2">
    
                <!-- Label -->
                <img src="brush.png" alt="" class="mb-4 w-[170px]" />
    
                <h2 class="text-[48px] h-[140px] w-[573px] font-extrabold leading-[60px] text-[#2F2F2F]">
                    Sale
                    <span class="text-[#FF5B42]">68% Off</span>
                    <br>
                    All
                    <span class="text-[#74B72E]">Fruite Products</span>
                </h2>
    
                <p class="mt-5 w-[470px] h-[60px] w-[573px] text-[16px] leading-8 text-[#777777]">
                    Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed <br>
                    consectetur tellus eget odio aliquet, vel vestibulum tellus sollicitudin.
                </p>
    
                <button
                    class="mt-8 flex h-[56px] w-[190px] items-center justify-center gap-3 rounded-full bg-[#74B72E] text-white transition hover:bg-[#5f9728]">
                    Explore More
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
    
            </div>
    
        </div>
    
    </div>

  </div>
</section>