:host {
  display: block;
}

button {
  transition: all .2s ease;
}

button:hover {
  transform: translateY(-50%) scale(1.05);
}

button:last-of-type:hover {
  transform: translateY(-50%) scale(1.05);
}