        <!-- ========== BREADCRUMB ========== -->
        <div class=" grid grid-cols-1 lg:grid-cols-2 gap- lg:gap-12 flex flex-col w-[407px] items-start gap-2 shrink-0">

            <div
                class="flex flex-wrap items-center gap-1.5 text-sm text-[#5b6778] pb-5 mb-2 border-b border-[#eef2f6] w-full">
                <a href="#" class="text-[#bac6e0] font-medium hover:underline">
                    <i class="fas fa-home mr-1"></i>Home
                </a>

                <i class="fas fa-chevron-right text-[#9aa4b6] text-[10px]"></i>

                <a href="#" class="text-[#2563eb] font-medium hover:underline">
                    Pickles
                </a>

                <i class="fas fa-chevron-right text-[#9aa4b6] text-[10px]"></i>

                <a href="#" class="text-[#2563eb] font-medium hover:underline">
                    Spicy
                </a>

                <i class="fas fa-chevron-right text-[#9aa4b6] text-[10px]"></i>

                <span class="text-[#1f2a3f] font-semibold">
                    বোম্বাই মরিচের আচার
                </span>
            </div>

            <div class="flex items-center gap-3">
                <p class="text-[#4B5563] text-base font-medium">Share on:</p>

                <button class="w-10 h-10 flex items-center justify-center rounded-full border border-gray-300">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button class="w-10 h-10 flex items-center justify-center rounded-full border border-gray-300">
                    <i class="fab fa-instagram"></i>
                </button>

                <button class="w-10 h-10 flex items-center justify-center rounded-full border border-gray-300">
                    <i class="fab fa-linkedin-in"></i>
                </button>

                <button class="w-10 h-10 flex items-center justify-center rounded-full border border-gray-300">
                    <i class="fas fa-link"></i>
                </button>
            </div>

        </div>


