<section class="relative overflow-hidden bg-white py-24">

    <!-- Middle image -->
     <!-- <img
        src="basket 4.png"
        class="absolute left-1/2 top-[57%] z-10 w-[360px] -translate-x-1/2 -translate-y-1/2 object-contain"> -->
    <!-- Left Leaf -->
    <img
        src="leaf 1.png"
        alt=""
        class="h-[164px] w-[164px] absolute left-5 top-16 w-10 select-none">

    <!-- Top Right Leaf -->
    <img
        src="leaf 3.png"
        alt=""
        class="h-[362px] w-[335px] absolute right-0 top-6 w-44 select-none">

    <!-- Bottom Right Leaf -->
    <img
        src="leaf 2.png"
        alt=""
        class="h-[146px] w-[212px] absolute bottom-6 right-10 w-28 select-none">

    <div class="mx-auto max-w-[1320px]">

        <!-- Heading -->

        <div class="mb-16 text-center">
        
            <div class="flex items-center justify-center gap-2">
        
                <div class="flex gap-1">
                    <span class="h-1 w-1 rounded-full bg-[#62A403]"></span>
                    <span class="h-1 w-1 rounded-full bg-[#62A403]"></span>
                    <span class="h-1 w-1 rounded-full bg-[#62A403]"></span>
                </div>
        
                <span class="text-[11px] font-semibold uppercase tracking-[2px] text-[#62A403]">
                    FRESH FROM OUR FARM
                </span>
        
                <div class="flex gap-1">
                    <span class="h-1 w-1 rounded-full bg-[#62A403]"></span>
                    <span class="h-1 w-1 rounded-full bg-[#62A403]"></span>
                    <span class="h-1 w-1 rounded-full bg-[#62A403]"></span>
                </div>
        
            </div>

      <h2 class="text-[48px] font-extrabold text-[#25303B]">

        Popular Organic Food

      </h2>

    </div>

    <!-- Content -->

    <div class="grid grid-cols-[1fr_520px_1fr] items-center gap-8">

  <!-- ================= LEFT ================= -->

  <div class="space-y-24">

    @for(item of leftFeatures; track $index){

    <div class="flex items-center justify-end gap-6 ">

      <div class="text-right">

        <h3 class="mb-2 text-[20px] font-bold text-[#27323D] mr-14">
          {{item.title}}
        </h3>

        <p class="w-[250px] text-[16px] leading-7 text-[#7A7A7A] mr-14">
          {{item.description}}
        </p>

      </div>

    </div>

    }

  </div>

  <!-- ================= CENTER ================= -->

  <div class="relative flex h-[520px] w-[520px] items-center justify-center">

    <!-- Green Circle -->

    <div
      class="absolute h-[520px] w-[520px] rounded-full bg-[#79BF24]">
    </div>

    <!-- White Ring -->

    <div
      class="absolute h-[382px] w-[382px] rounded-full border-[4px] border-white">
    </div>

    <!-- Cream Circle -->

    <div
      class="absolute flex h-[360px] w-[360px] items-center justify-center rounded-full bg-[#FFF7E7]">

      <img
        [src]="centerImage"
        class="w-[380px] object-contain">

    </div>

    <!-- LEFT TOP -->

    <div
      class="absolute left-[-35px] top-[110px] z-30 flex h-[96px] w-[96px] items-center justify-center rounded-full bg-white shadow-[0_20px_40px_rgba(0,0,0,.15)]">

      <img
        [src]="leftFeatures[0].image"
        class="h-[65px] w-[65px] object-contain">

    </div>

    <!-- LEFT BOTTOM -->

    <div
      class="absolute left-[-35px] bottom-[105px] z-30 flex h-[96px] w-[96px] items-center justify-center rounded-full bg-white shadow-[0_20px_40px_rgba(0,0,0,.15)]">

      <img
        [src]="leftFeatures[1].image"
        class="h-[65px] w-[65px] object-contain">

    </div>

    <!-- RIGHT TOP -->

    <div
      class="absolute right-[-35px] top-[110px] z-30 flex h-[96px] w-[96px] items-center justify-center rounded-full bg-white shadow-[0_20px_40px_rgba(0,0,0,.15)]">

      <img
        [src]="rightFeatures[0].image"
        class="h-[102px] w-[146px] object-contain">

    </div>

    <!-- RIGHT BOTTOM -->

    <div
      class="absolute right-[-35px] bottom-[105px] z-30 flex h-[96px] w-[96px] items-center justify-center rounded-full bg-white shadow-[0_20px_40px_rgba(0,0,0,.15)]">

      <img
        [src]="rightFeatures[1].image"
        class="h-[65px] w-[65px] object-contain">

    </div>

  </div>

  <!-- ================= RIGHT ================= -->

  <div class="space-y-24">

    @for(item of rightFeatures; track $index){

    <div>

      <h3 class="mb-2 mr-30 text-[20px] w-[254px] h-[26px] font-bold uppercase text-[#27323D] ml-14">

        {{item.title}}

      </h3>

      <p class="w-[250px] h-[48px] text-[16px] leading-7 text-[#7A7A7A] ml-14">

        {{item.description}}

      </p>

    </div>

    }

  </div>

</div>

  </div>

</section>