<section class="px-20 py-10 bg-white">

  <div
    class="relative h-[115px] w-full overflow-hidden rounded-xl bg-[#FAFAFA]"
  >

    <!-- Background -->
    <img
      src="secure.png"
      alt=""
      class="h-[513px] w-[609px] absolute inset-0 h-full w-full object-cover z-0"
    />

    <!-- Left Content -->
    <div
      class="absolute left-5 top-1/2 z-20 flex -translate-y-1/2 items-center gap-3"
    >
      <i
        class="fa-solid fa-truck-fast text-[18px] text-[#62A403]"
      ></i>

      <p class="text-[16px] text-[#666]">
        <span class="font-semibold text-[#2D2D2D]">
          100% Secure Delivery
        </span>
        Without Contacting the Courier
      </p>
    </div>

    <!-- Button -->
    <button
      class="absolute right-35 top-1/2 z-20 flex h-[40px] w-[135px] -translate-y-1/2 items-center justify-center gap-2 rounded-full bg-[#62A403] text-[14px] font-semibold text-white hover:bg-[#4F8702]"
    >
      Shop Now
      <i class="fa-solid fa-arrow-right text-[12px]"></i>
    </button>

    <!-- Left Leaf -->
    <img
      src="secure 3.png"
      alt=""
      class="absolute left-5 top-2 w-auto h-auto z-10"
    />

    <!-- Right Leaf -->
    <img
      src="secure 2.png"
      alt=""
      class="absolute right-5 top-2 w-auto h-auto z-10"
    />

  </div>

</section>